@*@using SessionsSepet.Models*@

@*

    namespaceleri viewlarda yazmamak için views klasöründeki web.config dosyasındaki namespaces alanına yazarız...    Bu tanımlayı yaptıktan sonra varsa açık viewlarını kapatıp tekrar açınız..
*@

@model List<Kategori>
<ul class="nav nav-list">
    @*<li><a href="products.html"><span class="icon-chevron-right"></span>Fashion</a></li>
        <li><a href="products.html"><span class="icon-chevron-right"></span>Watches</a></li>
        <li><a href="products.html"><span class="icon-chevron-right"></span>Fine Jewelry</a></li>
        <li><a href="products.html"><span class="icon-chevron-right"></span>Fashion Jewelry</a></li>
        <li><a href="products.html"><span class="icon-chevron-right"></span>Engagement & Wedding</a></li>
        <li><a href="products.html"><span class="icon-chevron-right"></span>Men's Jewelry</a></li>
        <li><a href="products.html"><span class="icon-chevron-right"></span>Vintage & Antique</a></li>
        <li><a href="products.html"><span class="icon-chevron-right"></span>Loose Diamonds </a></li>
        <li><a href="products.html"><span class="icon-chevron-right"></span>Loose Beads</a></li>
        <li><a href="products.html"><span class="icon-chevron-right"></span>See All Jewelry & Watches</a></li>
        <li style="border:0"> &nbsp;</li>
        <li> <a class="totalInCart" href="#"><strong>Total Amount  <span class="badge badge-warning pull-right" style="line-height:18px;">$448.42</span></strong></a></li>*@


    @foreach (var item in Model)
    {
        <li>
            <a href="@Url.Action("Index","Products",new { KategoriID =item.ID,KategoriAdi=item.Adi })">

                @item.Adi (@item.Uruns.Count)
            </a>
        </li>
    }

</ul>