@model IEnumerable<SessionsSepet.Models.Kategori>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "AddOrUpdate", new { id = 0 })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Adi)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Adi)
                </td>
                <td>
                    @Html.ActionLink("Edit", "AddOrUpdate", new { id = item.ID }) |
                </td>
            </tr>
        }

    </table>
</body>
</html>
